* {
    /* Prevents user from selecting text */
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    -o-user-select: none;
    user-select: none;
}

body, html {
    width:100%;
    height:100%;
    font-family: 'RobotoWeb';
    background: url('../img/background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow-x: hidden;
}

h1 {
    font-size: 32px;
    font-family: 'RobotoBoldWeb';
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 24px;
    padding-bottom: 2px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-family: 'RobotoCondensedWeb';
}

p {
    font-size: 20px;
}

p.error {
    color:#FF7373;
}

p.error img {
    margin: 0 3px -3px 0;
}

select,
textarea,
input {
    color:#1B3D67;
    font-size: 20px;
    width:100%;
}

input {
    border: 1px solid #DDD;
    padding: 11px;
    margin-bottom: 15px;
}

select {
    border: 1px solid #DDD;
    padding: 12px;
    margin-bottom: 15px;
}

input.date {
    padding: 9px 11px 10px 11px;
}

::-webkit-input-placeholder {
   color: #DDD;
   padding: 3px;

}

:-moz-placeholder { /* Firefox 18- */
   color: #DDD;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #DDD;  
}

:-ms-input-placeholder {  
   color: #DDD;  
}

select:focus,
input:focus {
    outline:0;
    border: 1px solid #5DA97B;
}

select.ng-invalid-required.ng-touched,
input.ng-invalid-email.ng-touched,
input.ng-invalid-pattern.ng-touched,
input.ng-invalid-required.ng-touched {
    background-color: #FFE1E1;
    border:1px solid #FF7373;
}

.disabled {
    opacity: .5;
    pointer-events: none;
}

/* Flex Styles */
.flex {
    display: -webkit-box !important;
    display: -moz-box !important;
    display: -ms-flexbox !important;
    display: -ms-flex !important;
    display: -webkit-flex !important;
    display: flex !important;
}

.flex-center {
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.flex-center-horizontal {
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.flex-center-vertical {
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
}

.flex-stretch {
    -webkit-align-items: stretch;
    -ms-align-items: stretch;
    align-items: stretch;
}

.flex-align-bottom {
    -webkit-align-items: flex-end;
    -ms-align-items: flex-end;
    align-items: flex-end;
}

.flex-column {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.flex-space-between {
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.flex-one {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.flex-two {
    -webkit-flex: 2;
    -ms-flex: 2;
    flex: 2;
}

.flex-three {
    -webkit-flex: 3 !important;
    -ms-flex: 3 !important;
    flex: 3 !important;
}

.flex-initial {
    -webkit-flex: initial !important;
    -ms-flex: initial !important;
    flex: initial !important;
}

.text-center {
    text-align: center;
}

.ellipse {
    padding-top: 1px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-bottom: 2px;
}

/* Circle Control */
.circle {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: #DDD;
    /* width and height can be anything, as long as they're equal */
    /* Prevents user from selecting text inside of buttons */
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    -o-user-select: none;
    user-select: none;
}

.circle.active{
    background-color: #5DA97B;
}

.circle > h1 {
    color: #FFF;
    margin: 8px 16px;
}

.connection {
    width: 50px;
    height: 8px;
    background-color: #DDD;
}

.box {
    background-color: #FFF;
    border: 1px solid #DDD;
    padding: 11px 11px 0px 11px;
    margin-bottom: 15px;
    min-height: 63px;
    float: left;
    width: 100%;
}

color-picker {
    display: block;
}

/* ---------- Button ----------  */
.button {
    width:100%;
    height: 84px;
    padding: 22px;
    cursor: pointer;

}

.button.inline {
    height: 51px;
    padding: 13px;

}

.button.inline h1 {
    font-size: 24px;
}

.button.navy {
    background-color: #1C3D68;
}

    .button.navy:active {
        background-color: #FFF;
    }

    .button.navy:active h1 {
        color: #1C3D68;
    }


.button.green {
    background-color: #5DA97B;
}

    .button.green:active {
        background-color: #FFF;
    }

    .button.green:active h1 {
        color: #5DA97B;
    }

.button h1 {
    color:#FFF;
    text-align: center;
}

.close-button {
    margin-left: 5px;
    cursor: pointer;

}
/* ---------- END Button ----------  */

.img-container {
    width: 120px;
    height: 120px;
    overflow: hidden;
}

.img-container img {
    width: 100%;
}


x {
    cursor: pointer;
    margin-top: -5px;
    height: 22px;
    display: inline-block;
    box-sizing: content-box;
}

x.light div {
    background-color: #FFFFFF;
}

x div {
    float: none;
    background-color: #444444;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

x div:nth-of-type(1) {
    width: 18px !important;
    height: 4px !important;
    position: relative;
    top: 11px;
}

x div:nth-of-type(2) {
    width: 4px !important;
    height: 18px !important;
    margin-left: 7px;
}

.slider {
    -ms-transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0); /* Chrome, Safari, Opera */
    transform: translate3d(0,0,0);
}

.animate {
    transition: all .3s ease-out;
}

.slider:active {
    -ms-transform: translate3d(x,y,z);
    -webkit-transform: translate3d(x,y,z); /* Chrome, Safari, Opera */
    transform: translate3d(x,y,z);
}


/* Default Page Styles */
.content {
    background-color: #F2F2F2;
    padding: 100px;
}

.content .section {
    margin: 0 -100px;
    padding: 50px 100px;
    border-bottom: 1px solid #ddd;
}