formation-field {
    display: block;
}

formation-field > div:first-child {
    width: 100%;
    height: 100%;
    position: relative;
}

formation-field .back-layer {
    width: 100%;
    height: 100%;
}

formation-field .back-layer img {
    width: 100%;
}

formation-field .player-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index:1;
}

formation-field .formation {
    position: absolute;
    top:0;
    left:0;
}

formation-field jersey-icon {

}

formation-field jersey-icon svg {
    width:100%;
    height: 100%;
}

formation-field .player {
    width: 5vw;
    height: 5vw;
}

formation-field .player.selected svg path {
    fill: #5DA97B;
}

formation-field .num {
    position: absolute;
    top: 25%;
    left: 0;
    width: 100%;
    box-shadow: 0px 0px 0px rgba(0,0,0,0);
}

formation-field h5 {
    text-align: center;
    color: #FFF;
    font-size: 1vw;
    text-shadow: 0 0 10px rgba(0,0,0,0.25);
    font-family: 'RobotoBoldWeb';
}

formation-field .player > h5 {
    position: absolute;
    bottom: -.5vw;
    width: 100%;
}

/*formation-field .key {
    margin-top: 20px;
}

formation-field .key > div {
    margin-right: 5px;
}

formation-field .key .circle {
    width:10px;
    height: 10px;
}

formation-field .key .circle.goal {
    background-color:#5DA979;
}

formation-field .key .circle.on {
    background-color:#FFF;
    border: 1px solid #5DA979;
}

formation-field .key h5 {
    font-size:10px;
    color:#5DA979;
}*/