.game-review {
    width:100%;
    padding-top: 150px;
}

.gameReview {
    background-color: #222;
    width: 500px;
    color:#FFF;
    padding: 20px 0;
}

.gameReview h5 {
	width: 100%;
    padding: 5px;
}

.gameReview .header {
    padding-bottom: 20px;
}

.gameReview .score {
    background-color: #5DA97B;
    height: 100px;
    width: 100px;
    margin: 1px;
}

.gameReview .score h5 {
    font-size: 72px;
    text-align: center;
}

.gameReview .team-container {
    padding: 0px 20px;
}

.gameReview .team-container .img-container {
    padding: 0px 10px;
}

.title {
    color: #5DA97B;
    font-size: 20px;
    padding: 5px;
    border-bottom: solid 1px #DDD;
}

.player-stats-container {
    background-color: #F2F2F2;
    padding: 100px;
}

.player-stats-container .circle {
    width: 40px;
    height: 40px;
    border: 5px solid #FFFFFF;
    color: #FFF;
    background-color: #B4B4B4;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.25);
    margin-right: 20px;
    padding-bottom: 0px;
}

.player-stats-container .circle h5 {
    font-family: 'RobotoBoldWeb';
}

.roster-container {
}

.player-selector {
    height: 50px;
    width: 100%;
    margin-top: 5px;
    padding: 5px;
    text-transform: uppercase;
    cursor: default;
}

.player-selector h5 {
    font-size: 17px;
}

.player-selector h5 span {
    padding-top: 1px;
    padding-bottom: 2px;
    color: #B4B4B4;
    margin: 0px 7px;
}


.player-selector.selected {
    background-color: #5DA97B;
    color: #FFF;
}

.stats-display-container {

    padding-top: 41px;
}