.game-review {
    width:100%;
}

.gameReview {
    background-color: #222;
    width: 500px;
    color:#FFF;
    padding: 20px 0;
    margin-top: 150px;

}

.gameReview h5 {
	width: 100%;
    padding: 5px;
}

.gameReview .header {
    padding-bottom: 20px;
}

.gameReview .score {
    background-color: #5DA97B;
    height: 100px;
    width: 100px;
    margin: 1px;
}

.gameReview .score h5 {
    font-size: 72px;
    text-align: center;
}

.gameReview .team-container {
    padding: 0px 20px;
}

.gameReview .team-container .img-container {
    padding: 0px 10px;
}

.game-notes {
    margin-top: 25px;
}


.game-notes .notes {
    margin-top: 5px;
    min-height: 200px;
}