header {
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    left: 0;
}

header > .flex {
    height: 60px;
    background-color: #5DA97B;
}

header h4 {
    color: #FFF;
}

header h5 {
    color: #FFF;
}

header > div > .team {
    min-width: 200px;
    padding: 10px;
}

header .buttons > div {
    padding: 0 20px;
    cursor: pointer;
}

header .buttons > div:active {
    background-color: rgba(0,0,0,.25);
}


header .team {
    cursor: pointer;
    height: 60px;
    background-color: #222222;
    position: relative;
}

header .img-container {
    width: 42px;
    height: 42px;
    margin-right: 10px;
}

header .user {
    padding: 0 10px;
}

header .user .circle {
    border: 5px solid #FFFFFF;
    width: 45px;
    height: 45px;
}

header .user-dropdown {
    background-color: #222222;
    position: absolute;
    top:60px;
    right:10px;
}

header .user-dropdown h4 {
}

header .team-dropdown {
    width: 100%;
    position: absolute;
    top: 60px;
    left: 0;
    border-top: 1px solid #444444;
}

header .dropdown > div {
    cursor: pointer;
    padding: 10px;
    border-left: 1px solid #444444;
    border-right: 1px solid #444444;
    border-bottom: 1px solid #444444;
}

header .dropdown > div:active {
    background-color: #444444;
}
