.player-stats-container {
    padding-top: 50px;

}

.player-stats-container .circle {
    width: 40px;
    height: 40px;
    border: 5px solid #FFFFFF;
    color: #FFF;
    background-color: #B4B4B4;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.25);
    margin-right: 20px;
    padding-bottom: 0px;
}

.player-stats-container .circle h5 {
    font-family: 'RobotoBoldWeb';
}

.roster-container {
    padding-right: 50px;
}

.roster-container > div {
    padding-bottom: 50px;
    /*width: 45%;*/
}

.player-selector {
    height: 50px;
    width: 100%;
    margin-top: 5px;
    padding: 5px;
    text-transform: uppercase;
    cursor: default;
}

.player-selector h5 {
    font-size: 17px;
}

.player-selector h5 span {
    padding-top: 1px;
    padding-bottom: 2px;
    color: #B4B4B4;
    margin: 0px 7px;
}


.player-selector.selected {
    background-color: #5DA97B;
    color: #FFF;
}

.stats-display-container {
    padding-top: 31px;
}

.stats-display-container > div {
    padding-bottom: 40px;
}

.stats-display {
    width: 55%;
    /*max-width: 50%;*/
}

.stats-display > div:nth-child(2) {
    padding: 25px 0;
}


.notable-events .event-container {
    padding-top: 5px;
    height: 30px;
}

.notable-events .event-container .minute {
    padding-left: 5px;
    color: #B4B4B4;
}

.notable-events .event-container .event {
    padding-left: 5px;
}

.player-stats-container .formation-field {
    width: 100%;
    height: 100%;
}

.player-stats-container .formation-field img {
    width: 100%;
}

.numbers h6 {
    font-size: 38px;
    color:#5DA97A;
    text-align:center;
}

.numbers h5 {
    font-size: 20px;
    color:#B4B4B4;
    text-align: center;
}

h5.stat-title {
    color:#5DA97B;
    font-size: 16px;
    margin-bottom: 25px;
}