<!DOCTYPE html>
<html ng-app="soccerStats">
<head lang="en">
    <meta charset="UTF-8">

    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <title>Soccer Stats</title>

    <link rel="stylesheet" type="text/css" href="./css/reset.css">
    <link rel="stylesheet" type="text/css" href="./css/fonts.css">
    <link rel="stylesheet" type="text/css" href="./css/default.css">
    <link rel="stylesheet" type="text/css" href="./css/home.css">
    <link rel="stylesheet" type="text/css" href="./css/animation.css">
    <link rel="stylesheet" type="text/css" href="./css/login-page.css">
    <link rel="stylesheet" type="text/css" href="./css/modal.css">
    <link rel="stylesheet" type="text/css" href="./css/container.css">
    <link rel="stylesheet" type="text/css" href="./css/registration-page.css">
    <link rel="stylesheet" type="text/css" href="./css/tablet.css">
    <link rel="stylesheet" type="text/css" href="./css/mobile.css">
    <link rel="stylesheet" type="text/css" href="./css/list.css">
    <link rel="stylesheet" type="text/css" href="./css/toast.css">
    <link rel="stylesheet" type="text/css" href="./css/stats.css">
    <link rel="stylesheet" type="text/css" href="./css/player-modal.css">
    <link rel="stylesheet" type="text/css" href="./css/account-page.css">
    <link rel="stylesheet" type="text/css" href="./css/game-review.css">
    <link rel="stylesheet" type="text/css" href="./css/header.css">
    <link rel="stylesheet" type="text/css" href="./css/schedule.css">
    <link rel="stylesheet" type="text/css" href="./css/game-timeline.css">
    <link rel="stylesheet" type="text/css" href="./css/doughnut-chart.css">
    <link rel="stylesheet" type="text/css" href="./css/shot-accuracy-chart.css">
    <link rel="stylesheet" type="text/css" href="./css/bar-chart.css">
    <link rel="stylesheet" type="text/css" href="./css/formation-field.css">
    <link rel="stylesheet" type="text/css" href="./css/roster.css">
    <link rel="stylesheet" type="text/css" href="./css/game-setup.css">
    <link rel="stylesheet" type="text/css" href="./css/jersey-icon.css">
    <!-- <link rel="stylesheet" type="text/css" href="./css/ngDialog.css"> -->

</head>
<body ng-controller="shellController"  ng-class="{'tablet': $root.isTablet, 'mobile': $root.isMobile, 'isModal': currentModal !== ''}">

    <header ng-if="currentPage !== 'login' && currentPage !== 'registration' && currentPage !== 'verify-email' && currentPage !== 'password-reset-success' && currentPage !== 'password-reset'"></header>

    <div ng-show="currentPage !== 'login' && currentPage !== 'registration' && currentPage !== 'verify-email' && currentPage !== 'password-reset-success' && currentPage !== 'password-reset'" class="flex flex-column flex-center">
        <div class="gameReview">
            <h5 class="header text-center">
                <span ng-show="currentPage !== 'game-review'">Next Match<br/></span>
                {{currGame.date | date:'MM/dd/yyyy'}}
            </h5>
            <div class="flex flex-center-horizontal">
                <!-- User team logo/name -->
                <div class="team-container flex flex-one flex-center-vertical flex-column">
                    <div ng-click="viewHomePage('/home')" class="img-container">
                        <!-- TODO: src should point to current team's logo -->
                        <img src="./img/sample/Seattle_Sounders_FC.png">
                    </div>
                    <h5 class="text-center">{{currGame.team.name}}</h5>
                </div>

                <!-- Game score -->
                <div ng-show="currentPage !== 'game-review'" class="flex flex-center">
                    <h1>VS</h1>
                </div>
                <div ng-show="currentPage === 'game-review'" class="flex flex-center-horizontal">
                    <div class="score flex flex-center">
                        <h5 class="">{{currGame.team.score}}</h5>
                    </div>
                    <div class="score flex flex-center">
                        <h5 class="">{{currGame.opponent.score}}</h5>
                    </div>
                </div>

                <!-- Team against logo/name -->
                <div class="team-container flex flex-one flex-center-vertical flex-column">
                    <div class="img-container">
                        <!-- TODO: src should point to team against's logo -->
                        <img src="./img/sample/grey-premiere-icon-small.png">
                    </div>
                    <h5 class="text-center">{{currGame.opponent.name}}</h5>
                </div>
            </div>
        </div>
        <!-- Schedule of games -->
        <schedule></schedule>
    </div>

    <ng-view></ng-view>

    <div class="toast-container">
        <div class="flex flex-center-vertical toast" ng-repeat="toast in toasts" ng-class="{'slideOut': toast.slideOut,  'slideIn': toast.slideIn, 'error': toast.error, 'success': toast.success}">
            <img ng-if="!toast.error && !toast.success" src="./img/ball-icon-large.svg"/>
            <img ng-if="toast.error" src="./img/alert-icon-large.svg"/>
            <img ng-if="toast.success" src="./img/success-icon-large.svg"/>
            <p class="flex-one">{{toast.message}}</p>
            <div ng-click="closeToast(toast)">
                <img ng-if="!toast.error && !toast.success" src="./img/close-icon-dark.svg"/>
                <img ng-if="toast.error || toast.success" src="./img/close-icon.svg"/>
            </div>
        </div>
    </div>

    <div ng-if="currentModal != ''" class="modal-container flex flex-center-horizontal">
        <div ng-if="checkModal('teamModal')"><team-modal></team-modal></div>
        <div ng-if="checkModal('accountModal')"><account-modal></account-modal></div>
        <div ng-if="checkModal('editTeamModal')"><edit-team-modal></edit-team-modal></div>
        <div ng-if="checkModal('inviteEmailModal')"><invite-email-modal></invite-email-modal></div>
        <div ng-if="checkModal('playerModal')"><player-modal></player-modal></div>
        <div ng-if="checkModal('createGameModal')"><create-game-modal></create-game-modal></div>
        <div ng-if="checkModal('passwordResetModal')"><password-reset-modal></password-reset-modal></div>
    </div>

    <!-- Libraries -->
    <script src="./lib/angular.js"></script>
    <script src="./lib/angular-resource.js"></script>
    <script src="./lib/angular-route.js"></script>
    <script src="./lib/angular-sanitize.js"></script>
    <script src="./lib/jquery-1.8.2.min.js"></script>
    <script src="./lib/parse-1.3.5.min.js"></script>
    <script src="./lib/underscore-1.4.4.min.js"></script>
    <script src="./lib/color-thief.js"></script>
    <script src="./lib/Chart.js"></script>
    <script src="./lib/ng-device-detector.min.js"></script>

    <script src="./lib/fastclick.js"></script>
    <script type="text/javascript">
        // Initialize fast click for mobile touch
        FastClick.attach(document.body);
    </script>

    <!-- Parse -->
    <script>
        Parse.initialize("z9Sl23m5E0Ezun8NvpnBqk6NPzWvQpiIER1D2msS", "4oR8lgkPBWbWIqmrpx7ZwwmWO7cdax8sAY1dsg4s");
    </script>

    <script src="./js/app.js"></script>

    <!-- Controllers -->
    <script src="./js/controllers/shellController.js"></script>
    <script src="./js/controllers/loginController.js"></script>
    <script src="./js/controllers/registrationController.js"></script>
    <script src="./js/controllers/homeController.js"></script>
    <script src="./js/controllers/gameReviewController.js"></script>
    <script src="./js/controllers/testController.js"></script>
    <script src="./js/controllers/emailController.js"></script>
    <script src="./js/controllers/rosterController.js"></script>
    <script src="./js/controllers/gameSetupController.js"></script>

    <!-- Directives -->
    <script src="./js/directives/header.js"></script>
    <script src="./js/directives/image-upload.js"></script>
    <script src="./js/directives/color-picker.js"></script>
    <script src="./js/directives/schedule.js"></script>
    <script src="./js/directives/x-icon.js"></script>
    <script src="./js/directives/team-modal.js"></script>
    <script src="./js/directives/game-timeline.js"></script>
    <script src="./js/directives/doughnut-chart.js"></script>
    <script src="./js/directives/bar-chart.js"></script>
    <script src="./js/directives/shot-accuracy-chart.js"></script>
    <script src="./js/directives/account-modal.js"></script>
    <script src="./js/directives/edit-team-modal.js"></script>
    <script src="./js/directives/invite-email-modal.js"></script>
    <script src="./js/directives/password-reset-modal.js"></script>
    <script src="./js/directives/role.js"></script>
    <script src="./js/directives/formation-field.js"></script>
    <script src="./js/directives/player-modal.js"></script>
    <script src="./js/directives/create-game-modal.js"></script>
    <script src="./js/directives/jersey-icon.js"></script>

    <!-- Services -->
    <script src="./js/services/viewService.js"></script>
    <script src="./js/services/emailService.js"></script>
    <script src="./js/services/configService.js"></script>
    <script src="./js/services/toastService.js"></script>
    <script src="./js/services/dropdownService.js"></script>
    <script src="./js/services/dataService.js"></script>

</body>
</html>