<!-- Scores div -->
<div>
	<div class="modal gameReview black">
		<h5 class="header text-center">{{currGame.date}}</h5>
		<div class="flex">
			<!-- User team logo/name -->
			<div class="flex flex-center flex-one flex-column">
				<div class="img-container">
					<img src="./img/team-logo-icon.svg">
				</div>
				<h5 class="text-center ellipse">{{team.name}}</h5>
			</div>

			<!-- Game score -->
			<div class="flex flex-center-horizontal flex-two">
			<div class="score flex flex-center">
				<h5 class="ellipse">2</h5>
			</div>
			<div class="score flex flex-center">
				<h5 class="ellipse">1</h5>
			</div>
			</div>

			<!-- Team against logo/name -->
			<div class="flex flex-center flex-one flex-column">
				<div class="img-container">
					<img src="./img/player-icon.svg">
				</div>
				<h5 class="text-center ellipse">{{teamAgainst.name}}</h5>
			</div>
		</div>
	</div>
</div>

<!-- Schedule of games -->
<div>

</div>

