<div class="game-review">

    <div class="content">

        <div class="section flex">
            <game-timeline></game-timeline>
        </div>

        <div class="section flex">
            <div class="flex-one flex flex-center">
                <doughnut-chart data="gameStats.teamPossession.data" num="gameStats.possession+ '%'" label="'POSSESSION'"></doughnut-chart>
            </div>

            <div class="flex-one flex flex-column flex-center">
                <h5 class="stat-title">SHOT ACCURACY</h5>
                <shot-accuracy-chart data="shotLinesData"></shot-accuracy-chart>
            </div>
        </div>

        <div class="section flex">
            <div class="flex-one flex flex-column flex-center">
                <h5 class="stat-title">SHOTS</h5>
                <bar-chart data="shotCountData"></bar-chart>
            </div>

            <div class="flex-one flex flex-center">
                <doughnut-chart data="passData.data" num="passData.successRate + '%'" label="'PASSES COMPLETED'"></doughnut-chart>
            </div>

            <div class="numbers flex-one flex flex-column">
                <div class="flex-one">
                    <h5 class="text-center stat-title">TEAM STATS</h5>
                </div>
                <div class="flex">
                    <div class="flex flex-center flex-column flex-one">
                        <h6>{{gameStats.goalsMade}}</h6>
                        <h5>GOALS</h5>
                    </div>
                    <div class="flex flex-center flex-column flex-one">
                        <h6>{{gameStats.passes}}</h6>
                        <h5>PASSES</h5>
                    </div>
                    <div class="flex flex-center flex-column flex-one">
                        <h6>{{gameStats.corners}}</h6>
                        <h5>CORNERS</h5>
                    </div>
                    <div class="flex flex-center flex-column flex-one">
                        <h6>{{gameStats.offsides}}</h6>
                        <h5>OFFSIDES</h5>
                    </div>
                </div>
                <div class="flex-one"></div>
                <div class="flex">
                    <div class="flex flex-center flex-column flex-one">
                        <h6>{{gameStats.tackles}}</h6>
                        <h5>TACKLES</h5>
                    </div>
                    <div class="flex flex-center flex-column flex-one">
                        <h6>{{gameStats.fouls}}</h6>
                        <h5>FOUL</h5>
                    </div>
                    <div class="flex flex-center flex-column flex-one">
                        <h6>0</h6>
                        <h5>YELLOW</h5>
                    </div>
                    <div class="flex flex-center flex-column flex-one">
                        <h6>0</h6>
                        <h5>RED</h5>
                    </div>
                </div>
                <div class="flex-one"></div>
            </div>
        </div>

        <!-- Roster shtuff (will be converted to a directive -->
        <div class="player-stats-container flex section">
            <div class="roster-container flex-one">
                <div class="list">
                    <!-- TODO: Figure out how we want to store the roster vs lineup data and then display accodingly -->
                    <h5 class="title">LINEUP</h5>
                    <div ng-if="!player.bench" class="player-selector flex flex-center-vertical" ng-repeat="player in players | orderBy:'fname'" ng-class="{selected: isSelected(player)}" ng-click="selectPlayer(player)">
                        <div class="circle flex flex-center">
                            <h5>{{player.number}}</h5>
                        </div>
                        <div class="flex flex-one">
                            <h5 class="ellipse">{{player.fname}} {{player.lname}}</h5><h5><span class="flex flex-center">{{player.position}}</span></h5>
                        </div>
                    </div>
                </div>
                <div class="list">
                    <h5 class="title">BENCH</h5>
                    <div ng-if="player.bench" class="player-selector flex flex-center-vertical" ng-repeat="player in players | orderBy:'fname'" ng-class="{selected: isSelected(player)}" ng-click="selectPlayer(player)">
                        <div class="circle flex flex-center">
                            <h5>{{player.number}}</h5>
                        </div>
                        <div class="flex flex-one">
                            <h5 class="ellipse">{{player.fname}} {{player.lname}}</h5><h5><span class="flex flex-center">{{player.position}}</span></h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="stats-display-container flex-one flex flex-column">
                <div class="player-card flex flex-space-between">
                    <div class="player-info">
                        <div class="info flex">
                            <div class="img-container">
                                <img src="{{currPlayer.photo}}" />
                            </div>
                            <div  class="flex flex-column">
                                <h3>{{currPlayer.fname}}<br>{{currPlayer.lname}}</h3>
                                <div class="flex">
                                    <h5>{{currPlayer.position}} <span>{{currPlayer.number}}</span></h5>
                                </div>
                            </div>
                        </div>
                        <div class="notable-events">
                            <div class="event-container flex flex-center-vertical" ng-repeat="event in currPlayer.notableEvents">
                                <!-- TODO: make this image change based on event type -->
                                <img src="./img/timeline-goal-dark.svg"/>
                                <h5 class="minute">{{event.time}}</h5>
                                <h5 class="event">{{event.type}}</h5>
                            </div>
                        </div>
                    </div>

                    <!-- TODO: replace these numbers with actual content... -->
                    <div class="stats-display numbers flex flex-column flex-one">
                        <div class="flex">
                            <div class="flex flex-center flex-column flex-one">
                                <h6>{{currPlayer.shots.goals.total}}</h6>
                                <h5>GOALS</h5>
                            </div>
                            <div class="flex flex-center flex-column flex-one">
                                <h6>{{currPlayer.passes.total}}</h6>
                                <h5>PASSES</h5>
                            </div>
                        </div>
                        <div class="flex">
                            <div class="flex flex-center flex-one">
                                <doughnut-chart data="currPlayer.passes.data" num="currPlayer.passes.completed + '/' + currPlayer.passes.total" label="'PASSES COMPLETED'" style="zoom: 0.5;"></doughnut-chart>
                            </div>
                            <div class="flex flex-center flex-one">  
                                <doughnut-chart data="currPlayer.shots.data" num="currPlayer.shots.accuracy + '%'" label="'SHOTS ACCURACY' + '%'" style="zoom: 0.5;"></doughnut-chart>
                            </div>
                        </div>
                        <div class="flex">
                            <div class="flex flex-center flex-column flex-one">
                                <h6>{{currPlayer.total.fouls}}</h6>
                                <h5>FOULS</h5>
                            </div>
                            <div class="flex flex-center flex-column flex-one">
                                <h6>{{currPlayer.total.yellow.total}}</h6>
                                <h5>YELLOW</h5>
                            </div>
                            <div class="flex flex-center flex-column flex-one">
                                <h6>{{currPlayer.total.red.total}}</h6>
                                <h5>RED</h5>
                            </div>
                        </div>
                    </div>
                </div>

                <formation-field formation="currFormation" select-player="selectPlayer(player)" is-selected="isSelected(player)"></formation-field>
                <div class="game-notes list ">
                    <h5 class="title">GAME NOTES</h5>
                    <textarea class="notes" ng-model="notes"></textarea>
                    <div class="inline green button" ng-click="saveGameNotes()"><h1>Save</h1></div>
                </div>
            </div>
            
        </div>
    </div>
</div>