<div class="home-page">

    <!-- <div class="content" ng-if="user is a coach"> -->
    <div class="content">
        <div class="section flex">
            <div class="flex-one flex flex-center">
                <doughnut-chart data="teamGames.data" num="14" label="'GAMES PLAYED'" large="true"></doughnut-chart>
            </div>

            <div class="numbers flex-one flex flex-column">
                <div class="flex-one"></div>
                <div class="flex">
                    <div class="flex flex-center flex-column flex-one">
                        <h6>8</h6>
                        <h5>GOALS<br/>CONCEDED</h5>
                    </div>
                    <div class="flex flex-center flex-column flex-one">
                        <h6>11</h6>
                        <h5>GOALS<br/>SCORED</h5>
                    </div>
                    <div class="flex flex-center flex-column flex-one">
                        <h6>+3</h6>
                        <h5>GOAL<br/>DIFFERENCE</h5>
                    </div>
                </div>
                <div class="flex-one"></div>
                <div class="flex">
                    <div class="flex flex-center flex-column flex-one">
                        <h6>1.6</h6>
                        <h5>AVG GOALS<br/>PER GAME</h5>
                    </div>
                    <div class="flex flex-center flex-column flex-one">
                        <h6>48%</h6>
                        <h5>AVG BALL<br/>POSSESSION</h5>
                    </div>
                    <div class="flex flex-center flex-column flex-one">
                        <h6>10</h6>
                        <h5>FOULS<br/>COMMITTED</h5>
                    </div>
                </div>
                <div class="flex-one"></div>
            </div>
        </div>

        <div class="section lists flex">
            <div class="flex-one flex flex-center-horizontal flex-column">
                <img class="hero-image" src="./img/goal-icon.svg"/>
                <div class="list">
                    <h5 class="title">TOP GOALS</h5>
                    <div class="item flex flex-center-vertical" ng-repeat="player in topGoals track by $index">
                        <div class="img-container">
                            <img src="./img/sample/profile-small.jpg"/>
                        </div>
                        <h5 class="flex-one">{{player.name}}</h5>
                        <div class="circle flex flex-center" ng-class="{'top': $first}">
                            <h5>{{player.num}}</h5>
                        </div>
                    </div>
                </div>

            </div>

            <div class="flex-one flex flex-center-horizontal flex-column">
                <img class="hero-image" src="./img/ball-large-grey.svg"/>
                <div class="list">
                    <h5 class="title">TOP ASSISTS</h5>
                    <div class="item flex flex-center-vertical" ng-repeat="player in topAssists track by $index">
                        <div class="img-container">
                            <img src="./img/sample/profile-small.jpg"/>
                        </div>
                        <h5 class="flex-one">{{player.name}}</h5>
                        <div class="circle flex flex-center" ng-class="{'top': $first}">
                            <h5>{{player.num}}</h5>
                        </div>
                    </div>
                </div>

            </div>

            <div class="flex-one flex flex-center-horizontal flex-column">
                <img class="hero-image" src="./img/ball-large-grey.svg"/>
                <div class="list">
                    <h5 class="title">TOP SHOTS</h5>
                    <div class="item flex flex-center-vertical" ng-repeat="player in topShots track by $index">
                        <div class="img-container">
                            <img src="./img/sample/profile-small.jpg"/>
                        </div>
                        <h5 class="flex-one">{{player.name}}</h5>
                        <div class="circle flex flex-center" ng-class="{'top': $first}">
                            <h5>{{player.num}}</h5>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

<!-- Parent stuff -->
    <div class="content list">
        <h5 class="title">MY PLAYERS</h5>
        <!-- <div class="item player-card flex"> -->
        <div class="item player-card flex flex-center" ng-repeat="player in myPlayers">
            <div class="player-info">
                <div class="info flex">
                    <div ng-click="editPlayerInfo(player)">
                        <img src="{{player.photo}}" />
                    </div>
                    <div  class="flex flex-column">
                        <h3>{{player.fname}}<br>{{player.lname}}</h3>
                        <div class="flex">
                            <h5>{{player.position}}</h5><span>{{player.number}}</span>
                        </div>
                    </div>
                </div>
                
                <div class="flex personal-info">
                    <h5>PHONE</h5><span>{{player.phone}}</span>
                </div>
                <div class="contact-info">
                    <h5 class="">EMERGENCY CONTACT</h5>
                    <div class="flex">
                        <h5>NAME</h5><span>{{player.emergencyContact.name}}</span>
                    </div>
                    <div class="flex">
                        <h5>PHONE</h5><span>{{player.emergencyContact.phone}}</span>
                    </div>
                    <div class="flex">
                        <h5>RELATION</h5><span>{{player.emergencyContact.relationship}}</span>
                    </div>
                </div>
            </div>

            <!-- TODO: replace these numbers with actual content... -->
            <div class="stats-display numbers flex flex-column flex-one">
                <div class="flex">
                    <div class="flex flex-center flex-column flex-one">
                        <h6>{{player.total.goals}}</h6>
                        <h5>GOALS</h5>
                    </div>
                    <div class="flex flex-center flex-column flex-one">
                        <h6>{{player.total.passes}}</h6>
                        <h5>ASSISTS</h5>
                    </div>
                    <div class="flex flex-center flex-column flex-one">
                        <h6>{{player.total.corners}}</h6>
                        <h5>MINUTES</h5>
                    </div>
                    <div class="flex flex-center flex-column flex-one">
                        <h6>{{player.total.fouls}}</h6>
                        <h5>FOULS</h5>
                    </div>
                    <div class="flex flex-center flex-column flex-one">
                        <h6>{{player.total.yellows}}</h6>
                        <h5>YELLOW</h5>
                    </div>
                    <div class="flex flex-center flex-column flex-one">
                        <h6>{{player.total.reds}}</h6>
                        <h5>RED</h5>
                    </div>
                </div>
                <div class="flex">
                    <div class="flex flex-center flex-one">
                        <doughnut-chart data="player.passes.data" num="'8/10'" label="'PASS COMPLETION'" class="zoom"></doughnut-chart>
                    </div>
                    <div class="flex flex-center flex-one">  
                        <doughnut-chart data="player.shots.data" num="'3/4'" label="'SHOT ACCURACY'" class="zoom"></doughnut-chart>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

