<div class="home-page flex flex-column">
    <div class="flex flex-column flex-center">
        <div class="gameReview">
            <h5 class="header text-center">{{currGame.date}}</h5>
            <div class="flex flex-center-horizontal">
                <!-- User team logo/name -->
                <div class="team-container flex flex-one flex-center-vertical flex-column">
                    <div class="img-container">
                        <!-- TODO: src should point to current team's logo -->
                        <img src="./img/sample/Seattle_Sounders_FC.png">
                    </div>
                    <h5 class="text-center">{{currGame.team.name}}</h5>
                </div>

                <!-- Game score -->
                <div class="flex flex-center-horizontal">
                    <div class="score flex flex-center">
                        <!-- TODO: replace these "scores" with actual game score variables -->
                        <h5 class="">{{currGame.team.score}}</h5>
                    </div>
                    <div class="score flex flex-center">
                        <!--  -->
                        <h5 class="">{{currGame.opponent.score}}</h5>
                    </div>
                </div>

                <!-- Team against logo/name -->
                <div class="team-container flex flex-one flex-center-vertical flex-column">
                    <div class="img-container">
                        <!-- TODO: src should point to team against's logo -->
                        <img src="./img/sample/FC_Dallas.png">
                    </div>
                    <h5 class="text-center">{{currGame.opponent.name}}</h5>
                </div>
            </div>
        </div>

        <!-- Schedule of games -->
        <schedule></schedule>
    </div>

    <div class="content">

        <div class="section flex">
            <div class="flex-one flex flex-center">
                <doughnut-chart data="teamPossession.data" num="'82%'" label="'PASSES COMPLETED'"></doughnut-chart>
            </div>

            <div class="numbers flex-one flex flex-column">
                <div class="flex-one"></div>
                <div class="flex">
                    <div class="flex flex-center flex-column flex-one">
                        <h6>2</h6>
                        <h5>GOALS CONCEDED</h5>
                    </div>
                    <div class="flex flex-center flex-column flex-one">
                        <h6>97</h6>
                        <h5>GOALS SCORED</h5>
                    </div>
                    <div class="flex flex-center flex-column flex-one">
                        <h6>+3</h6>
                        <h5>GOAL DIFFERENCE</h5>
                    </div>
                </div>
                <div class="flex-one"></div>
                <div class="flex">
                    <div class="flex flex-center flex-column flex-one">
                        <h6>16</h6>
                        <h5>AVG GOALS PER GAME</h5>
                    </div>
                    <div class="flex flex-center flex-column flex-one">
                        <h6>1</h6>
                        <h5>BALL POSSESSION</h5>
                    </div>
                    <div class="flex flex-center flex-column flex-one">
                        <h6>0</h6>
                        <h5>FOULS COMMITTED</h5>
                    </div>
                </div>
                <div class="flex-one"></div>
            </div>
        </div>

        <div class="section flex">
            <div class="flex-one">
                <img src="./img/goal-icon.svg"/>
                <h5>TOP GOALS</h5>
            </div>

            <div class="flex-one">
                <img src="./img/ball-large-grey.svg"/>
                <h5>TOP ASSISTS</h5>

            </div>

            <div class="flex-one">
                <img src="./img/ball-large-grey.svg"/>
                <h5>TOP SHOTS</h5>

            </div>
        </div>
    </div>

</div>

