<div class="login-page flex flex-center">
    <div class="modal login">
    	<div class="head">
    		<h1>Welcome to Soccer Stats!</h1>
    	</div>

        <div class="flex body">
            <div class="flex-one">
                <h3 class="ellipse">Username</h3>
                <input type="text" />
                <h3 class="ellipse">Password</h3>
                <input type="password" />
            </div>
            <div class="flex-one flex flex-center-horizontal flex-column">
                <img src="./img/manager-icon.svg"/>
                <h3 class="text-center">Are you a coach or a manager of a team?</h3>
            </div>
        </div>

        <div class="foot flex">
            <div class="button green flex-one">
                <h1>Log In</h1>
            </div>
            <div class="button navy flex-one">
                <h1>Sign Up</h1>
            </div>
        </div>
    </div>



</div>