<div class="registration-page flex flex-center">
    <div class="modal registration">
    	<div class="head">
    		<h1>Create A New Player</h1>
    	</div>

        <form name="playerForm" class="body flex two-column">
            <div class="flex-one">
                <h3 class="ellipse">Player Photo</h3>
                <div class="flex flex-center logo-container">
                    <img src="{{player.img || './img/player-icon.svg' }}" class="flex-one"/>
                    <p class="flex-one text-center logo-text">Click to add a new picture</p>
                </div>
                <h3 class="ellipse">Player Name</h3>
                <input type="text" ng-model="player.name" placeholder="Timmy Lee Jones" required />
                <h3 class="ellipse">Team</h3>
                <select ng-model="player.team" ng-options="team as team.label for team in teamss" required>
                </select>  
                <h3 class="ellipse">Jersey Number</h3>
                <input type="text"  ng-model="player.number" placeholder="Jersey Number" required />
            </div>
            <div class="flex-one">
                <h3 class="ellipse">City</h3>
                <input type="text"  ng-model="player.city" placeholder="City" required />
                <h3 class="ellipse">State</h3>
                <select ng-model="player.state" ng-options="state as state.label for state in states" required>
                </select>
                <h3 class="ellipse">Emergency Contact</h3>
                <input type="text" ng-model="player.emergencyContact.name" placeholder="Contact Name" required />
                <h3 class="ellipse">Phone Number</h3>
                <input type="text"  ng-model="player.emergencyContact.phone" placeholder="ex. (123) 456-7890" required />
                <h3 class="ellipse">Relationship to Player</h3>
                <input type="text" ng-model="player.emergencyContact.relationship" placeholder="e.g. sibling, friend, etc." required />        
            </div>
        </form>

        <div class="foot flex">
            <div class="button green flex-one" ng-click="registerPlayer()">
                <h1>Save</h1>
            </div>
            <div class="button navy flex-one" ng-click="goToPage('/home')">
                <h1>Cancel</h1>
            </div>
        </div>
    </div>

</div>