<div class="registration-page flex flex-center">
    <div class="modal registration">
    	<div class="head" ng-show="isTab(1)">
    		<h1>Create Coach Account</h1>
            <p>Create your coach account so that you can start creating teams and inviting players.</p>
    	</div>

        <div class="head" ng-show="isTab(2)">
            <h1>Create a Team</h1>
            <p>Create your team by filling out the following fields. You may add more teams after you have created your account.</p>
        </div>

        <div class="head" ng-show="isTab(3)">
            <h1>Invite Members</h1>
            <p>Send out invites to the parents or players on your team so they can log in and create an account registered to your team.</p>
        </div>

        <div class="body flex two-column" ng-show="isTab(1)">
            <div class="flex-one">
                <h3 class="ellipse">Name</h3>
                <input type="text" ng-model="newUser.name" placeholder="John Smith" />
                <h3 class="ellipse">Email</h3>
                <input type="email" ng-model="newUser.email" placeholder="john.smith@example.com" />
                <h3 class="ellipse">Password</h3>
                <input type="password" ng-model="newUser.password" placeholder="" />
                <h3 class="ellipse">Confirm Password</h3>
                <input type="password" placeholder="" />
            </div>
            <div class="flex-one">
                <h3 class="ellipse">Phone</h3>
                <input type="text" ng-model="newUser.phone" placeholder="ex. (123) 456-7890" />
                <h3 class="ellipse">City</h3>
                <input type="text" ng-model="newUser.city" placeholder="Spokane" />
                <h3 class="ellipse">State</h3>

                <select ng-model="newUser.state" ng-options="state as state.label for state in states">
                </select>           
            </div>
        </div>

        <div class="body flex two-column" ng-show="isTab(2)">
            <div class="flex-one">
                    <h3 class="ellipse">Team Logo</h3>
                <div class="flex flex-center logo-container">
                    <img src="./img/team-logo-icon.svg" class="flex-one"/>
                    <p class="flex-one text-center logo-text">Click the logo to add a new one</p>
                </div>
                <h3 class="ellipse">Team Name</h3>
                <input type="text" ng-model="newUser.email" placeholder="Team Name" />
                <h3 class="ellipse">Team Number</h3>
                <input type="password" placeholder="Team Number" />
            </div>
            <div class="flex-one">
                <h3 class="ellipse">League Name</h3>
                <input type="text" ng-model="newUser.phone" placeholder="League Name" />
                <h3 class="ellipse">Age Group</h3>
                <input type="text" ng-model="newUser.city" placeholder="Age Group" />
                <h3 class="ellipse">City</h3>
                <input type="text" ng-model="newUser.city" placeholder="City" />
                <h3 class="ellipse">State</h3>
                <select ng-model="newUser.state" ng-options="state as state.label for state in states">
                </select>           
            </div>
        </div>

        <div class="body flex" ng-show="isTab(3)">
            <div class="flex-one">
                <h3 class="ellipse">Email</h3>
                <div class="flex">
                    <input type="text" class="flex-three" ng-model="invite.email" placeholder="Add Email" />
                    <div class="button green inline flex-one" ng-click="addEmail(invite.email)"><h1>Add Email</h1></div>
                </div>
                <div class="box">
                    <div class="email-box" ng-repeat="email in inviteEmails track by $index">
                        <p>{{email}}</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="flex flex-center">
            <div class="circle" ng-click="setTab(1)" ng-class="{'active': isTab(1)}"><h1>1</h1></div>
            <div class="connection"></div>
            <div class="circle" ng-click="setTab(2)" ng-class="{'active': isTab(2)}"><h1>2</h1></div>
            <div class="connection"></div>
            <div class="circle" ng-click="setTab(3)" ng-class="{'active': isTab(3)}"><h1>3</h1></div>
        </div>

        <div class="foot flex">
            <div class="button navy flex-one" ng-click="incrementTab()" ng-hide="isTab(3)">
                <h1>Continue</h1>
            </div>
            <div class="button navy flex-one" ng-click="register(user)" ng-show="isTab(3)">
                <h1>Finish</h1>
            </div>
        </div>
    </div>

</div>