<div class="roster-page">
    <div class="content">
        <!-- Roster shtuff (will be converted to a directive -->
        <div class="player-stats-container flex">
            <div class="roster-container flex-one">
                <div class="list">
                    <!-- TODO: Figure out how we want to store the roster vs lineup data and then display accordingly -->
                    <h5 class="title">LINEUP</h5>
                    <div class="item player-selector flex flex-center-vertical" ng-repeat="player in players" ng-class="{selected: isSelected(player)}" ng-click="selectPlayer(player)">
                        <div class="circle flex flex-center">
                            <h5>{{player.number}}</h5>
                        </div>
                        <div class="flex flex-one">
                            <h5 class="ellipse">{{player.name}}</h5><h5><span class="flex flex-center">{{player.position}}</span></h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="stats-display-container flex-one flex flex-column">
                <div class="player-card flex flex-space-between">
                    <div class="player-info">
                        <div class="info flex">
                            <div class="img-container">
                                <img src="{{currPlayer.photo}}" />
                            </div>
                            <div  class="flex flex-column">
                                <h3>{{currPlayer.name}}</h3>
                                <div class="flex">
                                    <h5>{{currPlayer.position}}</h5><span>{{currPlayer.number}}</span>
                                </div>
                            </div>
                        </div>


                        <div class="flex personal-info">
                            <h5>PHONE</h5> <span>{{currPlayer.phone}}</span>
                        </div>
                        <div class="contact-info">
                            <h5 class="">EMERGENCY CONTACT</h5>
                            <div class="flex">
                                <h5>NAME</h5> <span>{{currPlayer.emergencyContact.name}}</span>
                            </div>
                            <div class="flex">
                                <h5>PHONE</h5> <span>{{currPlayer.emergencyContact.phone}}</span>
                            </div>
                            <div class="flex">
                                <h5>RELATION</h5 ><span>{{currPlayer.emergencyContact.relationship}}</span>
                            </div>
                        </div>

                    </div>

                    <!-- TODO: replace these numbers with actual content... -->
                    <div class="stats-display numbers flex flex-column flex-one" role="coach">
                        <div class="flex">
                            <div class="flex flex-center flex-column flex-one">
                                <h6>{{currPlayer.total.goals}}</h6>
                                <h5>GOALS</h5>
                            </div>
                            <div class="flex flex-center flex-column flex-one">
                                <h6>{{currPlayer.total.passes}}</h6>
                                <h5>PASSES</h5>
                            </div>
                            <div class="flex flex-center flex-column flex-one">
                                <h6>{{currPlayer.total.corners}}</h6>
                                <h5>CORNERS</h5>
                            </div>
                        </div>
                        <div class="flex">
                            <div class="flex flex-center flex-one">
                                <doughnut-chart data="currPlayer.passData" num="'8/10'" label="'PASSES COMPLETED'" style="zoom: 0.5;"></doughnut-chart>
                            </div>
                            <div class="flex flex-center flex-one">  
                                <doughnut-chart data="currPlayer.shots.data" num="'3/4'" label="'SHOTS ON GOAL'"  style="zoom: 0.5;"></doughnut-chart>
                            </div>
                        </div>
                        <div class="flex">
                            <div class="flex flex-center flex-column flex-one">
                                <h6>{{currPlayer.total.fouls}}</h6>
                                <h5>FOULS</h5>
                            </div>
                            <div class="flex flex-center flex-column flex-one">
                                <h6>{{currPlayer.total.yellows}}</h6>
                                <h5>YELLOW</h5>
                            </div>
                            <div class="flex flex-center flex-column flex-one">
                                <h6>{{currPlayer.total.reds}}</h6>
                                <h5>RED</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>