<div class="container">
    <!-- <h1>A place to test stuff.</h1>
    <br/>
    <br/> -->

    <!-- <game-timeline></game-timeline>

    <br/>

    <doughnut-chart data="teamForm.data" num="14" label="'GAMES PLAYED'"></doughnut-chart>

    <br/>

    <doughnut-chart data="teamPossession.data" num="'52%'" label="'POSSESSION'"></doughnut-chart>

    <br/>

    <bar-chart data="shotCountData"></bar-chart>

    <br/>

    <shot-accuracy-chart data="shotLinesData"></shot-accuracy-chart> -->
    <div ng-repeat="player in players" ng-click="alert()">
        {{player.name}}
    </div>

</div>