<div class="list">
    <!-- TODO: Figure out how we want to store the roster vs lineup data and then display accordingly -->
    <h5 class="title">Bench</h5>
    <div class="player-layer">
        <div class="player flex flex-column flex-center" ng-class="{selected: isSelected({player: position.player})}" ng-click="selectPlayer({player: position.player})" ng-repeat="position in bench track by $index">

            <!-- <div class="circle flex flex-center">
                <h5>{{player.number}}</h5>
            </div>
            <div class="flex flex-one">
                <h5 class="ellipse">{{player.name}}</h5><h5><span class="flex flex-center">{{player.position}}</span></h5>
            </div> -->

            <div class="circle flex flex-center">
                <h5>{{position.player.number}}</h5>
            </div>

            <h5>{{position.player.lname}}</h5>
        </div>
    </div>
</div>