<div class="flex">
    <div class="team flex flex-center-vertical">
        <div ng-click="toggleTeams()" class="flex flex-center-vertical">
            <img src="./img/sample/logo-small.png"/>
            <h4>{{teamDict[0].label}}</h4>
        </div>

        <div ng-show="showTeams" class="team-dropdown dropdown">
            <div ng-repeat="(value, label) in teamDict">
                <div class="team flex flex-center-vertical">
                    <img src="./img/sample/logo-small.png"/>
                    <h4>{{label.label}}</h4>
                </div>
            </div>
            <div class="team flex flex-center-vertical" ng-click="showCreateTeam()">
                <h4>Create A Team</h4>
            </div>
        </div>
    </div>

    <div class="buttons flex-one">

    </div>

    <div class="user flex flex-center">
        <div ng-click="toggleAccount()" class="circle flex flex-center">
            <h5>{{currentUser.initials}}</h5>
        </div>

        <div ng-show="showAccount" class="user-dropdown dropdown">
            <div ng-click="showEditAccount()">
                <h4>Edit Account</h4>
            </div>
            <div ng-click="logout()">
                <h4>Logout</h4>
            </div>
        </div>
    </div>

</div>
