<div class="flex">
    <div class="team flex flex-center-vertical">
        <div ng-click="toggleTeams()" class="team-current flex flex-center-vertical">
            <div class="img-container">
                <img ng-src="{{currentTeam.logo}}"/>
            </div>
            <h4 class="ellipse">{{currentTeam.label}}</h4>
        </div>

        <div ng-show="showTeams" class="team-dropdown dropdown">
            <div class="team flex flex-center-vertical" ng-click="changeTeam(team)" ng-if="team != currentTeam" ng-repeat="team in teams track by $index">
                <div class="img-container">
                    <img ng-src="{{team.logo}}"/>
                </div>
                <h4 class="ellipse">{{team.label}}</h4>
            </div>
            <div role="coach" class="team flex flex-center-vertical" ng-click="showCreateTeam()">
                <h4>Create A Team</h4>
            </div>
        </div>
    </div>

    <div class="buttons flex flex-one">
        <div ng-click="goToPage('/roster')" class="flex link flex-center">
            <img src="./img/roster-icon.svg"/>
            <h5>View Roster</h5>
        </div>

        <div role="coach" class="flex link flex-center" ng-click="editTeam()">
            <img src="./img/invite-icon.svg" />
            <h5>Edit Team</h5>
        </div>

        <div role="coach" class="flex link flex-center" ng-click="inviteEmails()">
            <img src="./img/invite-icon.svg"/>
            <h5>Invite Parent</h5>
        </div>

        <div role="coach" class="flex link flex-center" ng-click="createGame()">
            <img src="./img/invite-icon.svg"/>
            <h5>Add To Schedule</h5>
        </div>

        <div class="flex link flex-center" ng-click="addNewPlayer()" >
            <img src="./img/invite-icon.svg" />
            <h5>Add Player</h5>
        </div>

        <!-- <div class="flex link flex-center" ng-click="updatePlayer()" >
            <img src="./img/invite-icon.svg" />
            <h5>Edit Player</h5>
        </div> -->
    </div>

    <div class="user flex flex-center">
        <div ng-click="toggleAccount()" class="circle flex flex-center">
            <h5>{{currentUser.initials}}</h5>
        </div>

        <div ng-show="showAccount" class="user-dropdown dropdown">
            <div ng-click="showEditAccount()">
                <h4>Edit Account</h4>
            </div>
            <div ng-click="logout()">
                <h4>Logout</h4>
            </div>
        </div>
    </div>

</div>
