<!-- modal for a coach to invite more parents -->
<div class="modal invite registration">
    <div class="head flex">
        <h1 class="flex-one">Emails</h1>
        <div>
            <x ng-click="closeModal()"/>
        </div>
    </div>

    <!-- Invite Email Form -->
    <div class="body flex">
        <div class="flex-one">
            <h3 class="ellipse">Email</h3>
                <div class="flex">
                    <form name="inviteForm" class="flex flex-one">
                        <input type="email" class="flex-one" ng-model="invite.email" placeholder="Add Email" required/>
                        <div class="button green inline" ng-click="addEmail(invite.email)"><h1>Add Email</h1></div>
                    </form>
                </div>
            <div class="box">
                <div class="email-box flex" ng-repeat="email in inviteEmails track by $index">
                    <p class="ellipse">{{email}}</p><div class="close-button" ng-click="removeEmail($index)"><p>x</p></div>
                </div>
            </div>
        </div>
    </div>
    <!-- buttons -->
    <div class="foot flex">
        <div class="button green flex-one" ng-click="sendEmailInvite();">
            <h1>Send</h1>
        </div>
        <div class="button navy flex-one" ng-click="closeModal()">
            <h1>Cancel</h1>
        </div>
    </div>
</div>

