<!-- modal for resetting the password -->
<div class="modal password-reset-page registration">
    <div class="head flex">
        <h1 class="flex-one">Password Reset</h1>
        <div>
            <x ng-click="closeModal()"/>
        </div>
    </div>

    <!-- Reset password Form -->
    <div class="body flex">
        <div class="flex-one">
            <h3 class="ellipse">Email</h3>
                <div class="flex">
                    <input type="email" class="flex-one" ng-model="userEmail" placeholder="Email" required/>
                </div>
            <!-- TODO: change the close button into not an 'X' (make it pretty) -->
        </div>
    </div>
    <!-- buttons -->
    <div class="foot flex">
        <div class="button green flex-one" ng-click="passwordReset();">
            <h1>Send</h1>
        </div>
        <div class="button navy flex-one" ng-click="closeModal()">
            <h1>Cancel</h1>
        </div>
    </div>
</div>
