<div class="modal player registration">
    <div class="head flex">
        <h1 class="flex-one">Create your player</h1>
        <div>
            <x ng-click="closeModal()"/>
        </div>
    </div>

    <form name="playerForm" class="body flex two-column">
        <div class="flex-one">
            <h3 class="ellipse">Player Photo</h3>
            <div class="flex flex-center photo-container">
                <image-upload image="player.newPhoto" placeholder="player.photo"></image-upload>
                <p class="flex-one text-center photo-text">Click to add a new picture</p>
            </div>
            <h3 class="ellipse">Player Name</h3>
            <input type="text" ng-model="player.name" placeholder="Player Name" required />
            <h3 class="ellipse">Birthday</h3>
            <input type="date" class="date" ng-model="player.birthday" required />
            <h3 class="ellipse">Team</h3>
            <select ng-model="player.team" ng-options="team as team.attributes.name for team in teamDict" required>
                <option value="">Select a Team</option>
            </select>
            <h3 class="ellipse">Jersey Number</h3>
            <input type="text"  ng-model="player.jerseyNumber" placeholder="Jersey Number" required />
        </div>
        <div class="flex-one">
            <h3 class="ellipse">City</h3>
            <input type="text"  ng-model="player.city" placeholder="City" required />
            <h3 class="ellipse">State</h3>
            <select ng-model="player.state" ng-options="v for (k, v) in states" required>
                <option value="">Select a State</option>
            </select>
            <h3 class="ellipse">Emergency Contact</h3>
            <input type="text" ng-model="player.emergencyContact.name" placeholder="Contact Name" required />
            <h3 class="ellipse">Contact Phone Number</h3>
            <input type="text"  ng-model="player.emergencyContact.phone" placeholder="(123) 456-7890" required />
            <h3 class="ellipse">Relationship to Player</h3>
            <input type="text" ng-model="player.emergencyContact.relationship" placeholder="e.g. sibling, friend, etc." required />        
        </div>
    </form>

    <div class="foot flex">
        <div class="button green flex-one" ng-click="registerPlayer(player)">
            <h1>Save</h1>
        </div>
        <div class="button navy flex-one" ng-click="closeModal()">
            <h1>Cancel</h1>
        </div>
    </div>
</div>