<!-- displays the form for either adding a new player of editing a player-->
<div class="modal player registration">
    <div class="head flex">
        <h1 ng-hide="update" class="flex-one">Create your player</h1>
        <h1 ng-show="update" class="flex-one">Edit {{player.name}}</h1>
        <div>
            <x ng-click="closeModal()"/>
        </div>
    </div>

    <!-- parent is able to see all of player information -->
    <div role="parent">
        <form name="playerForm" class="body flex two-column">
            <div class="flex-one">
                <h3 class="ellipse">Player Photo</h3>
                <div class="flex flex-center photo-container">
                    <image-upload image="player.newPhoto" placeholder="player.photo"></image-upload>
                    <p class="flex-one text-center photo-text">Click to add a new picture</p>
                </div>
                <h3 class="ellipse">Player Name</h3>
                <input type="text" ng-model="player.name" placeholder="Player Name" required />
                <h3 class="ellipse">Birthday</h3>
                <input type="date" class="date" ng-model="player.birthday" required />
                <h3 class="ellipse">Team</h3>
                <select ng-model="player.team" ng-options="team as team.attributes.name for team in teamDict" required>
                    <option value="">Select a Team</option>
                </select>
                <h3 class="ellipse">Jersey Number</h3>
                <input type="text"  ng-model="player.jerseyNumber" placeholder="Jersey Number" required />
            </div>
            <div class="flex-one">
                <h3 class="ellipse">City</h3>
                <input type="text"  ng-model="player.city" placeholder="City" required />
                <h3 class="ellipse">State</h3>
                <select ng-model="player.state" ng-options="v for (k, v) in states" required>
                    <option value="">Select a State</option>
                </select>
                <h3 class="ellipse">Emergency Contact</h3>
                <input type="text" ng-model="player.emergencyContact.name" placeholder="Contact Name" required />
                <h3 class="ellipse">Contact Phone Number</h3>
                <input type="text"  ng-model="player.emergencyContact.phone" placeholder="(123) 456-7890" required />
                <h3 class="ellipse">Relationship to Player</h3>
                <input type="text" ng-model="player.emergencyContact.relationship" placeholder="e.g. sibling, friend, etc." required />        
            </div>
        </form>
    </div>
    <!-- coach is able to see minimal information for the purpose of temporarily setting up a player for parent -->
    <div role="coach">
        <form name="tempPlayerForm" class="body flex two-column">
            <div class="flex-one">
                <h3 class="ellipse">Name</h3>
                <div class="flex">
                    <input type="text" ng-model="player.firstName" placeholder="First Name" required class="first" />
                    <input type="text" ng-model="player.lastName" placeholder="Last Name" required />
                </div>
                <h3 class="ellipse">Parent Email</h3>
                <select ng-model="player.parentId" 
                        ng-options="k for (k, v) in parents" 
                        ng-class="{'disabled': !player.team}">
                    <option value="">Select a Parent</option>
                </select>
            </div>
            <div class="flex-one">
                <h3 class="ellipse">Team</h3>
                <select ng-model="player.team" 
                        ng-change="getParentEmails(player.team)"
                        ng-options="team as team.attributes.name for team in teamDict" required>
                    <option value="">Select a Team</option>
                </select>
                <h3 class="ellipse">Jersey Number</h3>
                <input type="text"  ng-model="player.jerseyNumber" placeholder="Jersey Number" required />
            </div>
        </form>
    </div>
    <!-- buttons -->
    <div class="foot flex">
        <div role="parent" class="button green flex-one" ng-click="registerPlayer(player)">
            <h1>Save</h1>
        </div>
        <div role="coach" class="button green flex-one" ng-click="registerTempPlayer(player)">
            <h1>Save</h1>
        </div>
        <!-- show based on if the user is updating or not-->
        <div class="button red flex-one" ng-if="update" ng-click="removePlayer(player)">
            <h1>Remove</h1>
        </div>
        <div class="button navy flex-one" ng-if="!update" ng-click="closeModal()">
            <h1>Cancel</h1>
        </div>
    </div>
</div>