<div class="schedule">
<!-- NOT DONE Scroll left -->
<div class="scroll-arrow left flex flex-center flex-left" ng-click="goLeft()">
	<h1>&#9664</h1>
</div>

<div class="games-container slider" style="width: {{games.length * 104}}px; {{getTransform()}}">
	<div class="summary-box {{game.status}}" ng-repeat="game in games track by $index" ng-class="{'selected': currGame === game }" ng-click="selectGame(game)">
		<!-- Summary of the game -->
		<div class="summary flex flex-center flex-column">
			<div class="flex flex-center flex-one">
				<div class="flex flex-one">
					<h5>{{game.team.symbol}}</h5>
				</div>
				<div class="flex flex-one">
					<div class="score flex flex-center">
						<h5 class="text-center">{{game.team.score}}</h5>
					</div>
				</div>
			</div>
			<div class="flex flex-center flex-one">
				<div class="flex flex-one">
					<h5>{{game.opponent.symbol}}</h5>
				</div>
				<div class="flex flex-one">
					<div class="score flex flex-center">
						<h5 class="text-center">{{game.opponent.score}}</h5>
					</div>
				</div>
			</div>
		</div>

		<!-- Action box thing -->
		<div class="action text-center flex flex-center">
			<h6>Review</h6>
		</div>
	</div>

	<div class="summary-box flex flex-center" ng-repeat="n in range(15-games.length)">
		<h1>No<br>Game<br>Data</h1>
	</div>
</div>

<!-- NOT DONE Scroll right -->
<div class="scroll-arrow right flex flex-center flex-right" ng-click="goRight()">
	<h1>&#9654</h1>
</div>



</div>