<div>
    <div class="back-layer">
        <img src="./img/shots-background.svg">
    </div>

    <svg class="lines" height="163" width="350">
        <g>
            <defs>
                <marker id="arrow" orient="auto" markerWidth="2" markerHeight="4" refX="0.1" refY="2" style="fill:#5DA97B">
                    <path d="M0 0 V4 L2 2 Z"></path>
                </marker>
                <marker id="block" orient="auto" markerWidth="5" markerHeight="5" refX="0.1" refY="2" style="stroke:#5DA97B;stroke-width:2;">
                    <path d="M0 0 L0 4"></path>
                </marker>
            </defs>
        </g>
        <g ng-repeat="shot in data">
            <line ng-if="shot.type !== 'blocked'" x1="{{shot.shotPos.x}}" y1="{{shot.shotPos.y}}" x2="{{shot.resultPos.x}}" y2="{{shot.resultPos.y}}" style="stroke:#5DA97B;stroke-width:2;marker-end:url(#arrow);" />
            <line  ng-if="shot.type === 'blocked'" x1="{{shot.shotPos.x}}" y1="{{shot.shotPos.y}}" x2="{{shot.resultPos.x}}" y2="{{shot.resultPos.y}}" style="stroke:#5DA97B;stroke-width:2;marker-end:url(#block);" />
            <circle ng-if="shot.type === 'on'" cx="{{shot.shotPos.x}}" cy="{{shot.shotPos.y}}" r="5" stroke="#5DA97B" stroke-width="2" fill="#FFF" />
            <circle ng-if="shot.type === 'goal'" cx="{{shot.shotPos.x}}" cy="{{shot.shotPos.y}}" r="5" fill="#5DA97B" />
        </g>
    </svg>
</div>

<div class="flex key">
    <div class="flex">
        <div class="circle goal"></div>
        <h5>- Goal</h5>
    </div>
    <div class="flex">
        <div class="circle on"></div>
        <h5>- On Goal</h5>
    </div>
    <div class="blocked">
        <h5>T - Blocked</h5>
    </div>
</div>