<div class="team-page">
    <div class="modal team">
    	<div class="head">
    		<h1>Create A New Team</h1>
    	</div>

        <!-- Team Registration Form -->
        <form name="teamForm" class="body flex two-column">
            <div class="flex-one">
                <h3 class="ellipse">Team Logo</h3>
                <div class="flex flex-center logo-container">
                    <image-upload image="team.logo" placeholder="'./img/team-logo-icon.svg'" get-color="getImageColor(color)"></image-upload>
                    <p class="flex-one text-center logo-text">Click the logo to add a new one</p>
                </div>
                <h3>Team Color</h3>

                <color-picker ng-class="{'disabled': !team.logo}" color="team.primaryColor" required="true"></color-picker>

                <h3 class="ellipse">Team Name</h3>
                <input type="text" ng-model="team.name" placeholder="Team Name" required />
                <h3 class="ellipse">Team Number</h3>
                <input type="text"  ng-model="team.number" placeholder="Team Number" required />
            </div>
            <div class="flex-one">
                <h3 class="ellipse">League Name</h3>
                <input type="text" ng-model="team.leagueName" placeholder="League Name" required />
                <h3 class="ellipse">Age Group</h3>
                <select ng-model="team.ageGroup" ng-options="ageGroup as ageGroup.label for ageGroup in ageGroups" required>
                    <option value="">Select an Age Group</option>
                </select>
                <h3 class="ellipse">City</h3>
                <input type="text" ng-model="team.city" placeholder="City" required />
                <h3 class="ellipse">State</h3>
                <select ng-model="team.state" ng-options="state as state.label for state in states" required>
                    <option value="">Select a State</option>
                </select>
            </div>
        </form>

        <div class="foot flex">
            <div class="button green flex-one" ng-click="registerPlayer(player)">
                <h1>Save</h1>
            </div>
            <div class="button navy flex-one" ng-click="goToPage('/home')">
                <h1>Cancel</h1>
            </div>
        </div>
    </div>

</div>